@media (max-width: 1025px)
    img
        &.logo
            &_pic
                width: 80px
                margin-right: 20px
    .links
        &_name
            font-size: 18px 
            margin-right: 0px
    nav
        margin-left: -10px
    a
        &.links
            &_item
                font-size: 16px
    .dropbtn
        font-size: 17px
    .links
        &_a
            display: none
    .dropdown-content 
        &.dropdown-content
            &_active
                left: 405px 
    .main
        &_descr
            font-size: 25px 
    .study
        &_permanent
            width: 450px    
    .study
        &_grow
            width: 450px
    .about
        &_text
            margin-left: 0px
        &_name
            font-size: 25px
        &_descr
            font-size: 16px
    .contact
        &_wrapper   
            padding: 0px 80px 0px 80px
    .footer
        &_inside
            display: none
        img
            &.footer
                &_logo
                    margin-right: 0px
                    width: 150px    
    .nails
        &_descr
            width: 420px
        &_price
            width: 40%
    .elos
        &_text
            width: 420px
        &_descr
            margin-right: 30px  
    .hair
        &_price
            margin-top: 13px
            width: 45%
@media (max-width: 991px)
    .container  
        max-width: 900px    
    .dropdown-content 
        &.dropdown-content
            &_active
                left: 390px 
    .study
        &_title
            font-size: 25px
        &_descr
            font-size: 18px
        &_name
            font-size: 25px
        &_main  
            font-size: 18px
            text-align: center
    .study
        &_permanent
            width: 400px    
    .study
        &_grow
            width: 400px
    .nails
        &_descr
            width: 350px    
        &_price
            width: 50%
    .elos
        &_text
            width: 350px
            text-transform: none
        &_descr
            margin-right: 30px
    .cosm
        &_text2
            text-transform: none
    .hair
        &_price
            width: 50%
@media (max-width: 850px)
