nav {
  background-color: white;
  padding: 20px 0px 20px 0px;
  margin-left: -150px;
  min-height: 70px;
  position: fixed;
  width: 111%; }

a.links_a {
  width: 50px;
  margin-right: 30px; }
  a.links_a:last-child {
    margin-right: -130px; }

img.logo_pic {
  width: 90px;
  margin-right: 30px;
  border-radius: 100%;
  -webkit-transition: 1s all ease-out;
  transition: 1s all ease-out; }
  img.logo_pic:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: 1s all;
    transition: 1s all; }

.links_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .links_block_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
.links_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
.links_name {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 10px 5px 10px 5px;
  color: black;
  -webkit-transition: 1s all ease-out;
  transition: 1s all ease-out;
  font-family: "Dancing Script", cursive;
  font-size: 20px; }
  .links_name:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 1s all;
    transition: 1s all;
    color: black;
    text-decoration: none;
    text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5); }
.links_item {
  margin-right: 60px;
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out; }
  .links_item:last-child {
    margin-right: 50px; }
  .links_item:hover {
    text-decoration: none;
    color: black;
    -webkit-transform: scale(1.19);
            transform: scale(1.19);
    -webkit-transition: 1s all;
    transition: 1s all;
    text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3); }
.links_logo {
  border: solid;
  border-radius: 100%;
  border-color: black;
  width: 50px;
  margin-right: 30px;
  cursor: pointer;
  border-width: 2px;
  -webkit-transition: 1s all ease-out;
  transition: 1s all ease-out; }
  .links_logo:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 1s all;
    transition: 1s all;
    background-color: burlywood;
    -webkit-box-shadow: 3px 3px 20px burlywood;
            box-shadow: 3px 3px 20px burlywood; }
  .links_logo img {
    margin: 10px 10px 10px 10px;
    width: 25px; }
  .links_logo:last-child {
    margin-right: -30px; }

.dropdown {
  overflow: hidden;
  display: block; }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: burlywood;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    .dropdown-content_active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      left: 630px;
      top: 70px;
      border-radius: 20px; }
    .dropdown-content a {
      float: none;
      color: black;
      text-decoration: none;
      padding: 10px 10px 10px;
      display: block;
      text-align: center; }
      .dropdown-content a:hover {
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-transition: 1s all;
        transition: 1s all;
        border-radius: 10px; }
  .dropdown_links {
    width: 100%; }

.drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 60px;
  -webkit-transition: 1s all;
  transition: 1s all; }
  .drop:hover {
    -webkit-transform: scale(1.19);
            transform: scale(1.19);
    -webkit-transition: 1s all;
    transition: 1s all;
    text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3); }
    .drop:hover img {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
  .drop img {
    width: 15px;
    height: auto;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }

.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  color: inherit;
  margin: 0; }

.main {
  background: url("../img/main.jpg") center top/cover no-repeat;
  min-height: 750px;
  padding: 180px 0px 200px 0px; }
  .main_logo {
    display: block;
    width: 350px;
    border-radius: 100%;
    margin: 0 auto; }
  .main_descr {
    text-align: center;
    margin-top: 40px;
    color: white;
    font-size: 30px;
    font-weight: 400; }
  .main button {
    width: 250px;
    height: 50px;
    border-radius: 20px;
    background-color: burlywood;
    border: solid;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    border-color: rgba(222, 184, 135, 0.7);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    -webkit-transition: 1s all ease-out;
    transition: 1s all ease-out; }
    .main button:hover {
      -webkit-box-shadow: 3px 3px 20px burlywood;
              box-shadow: 3px 3px 20px burlywood;
      -webkit-transition: 1s all;
      transition: 1s all;
      -webkit-transform: scale(1.15);
              transform: scale(1.15); }

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 380px;
  min-height: 400px;
  background-color: white;
  padding: 40px 40px 40px 40px; }
  .modal_close {
    position: absolute;
    top: 0;
    right: -40px;
    font-size: 41px;
    line-height: 21px;
    color: white;
    cursor: pointer; }
  .modal_subtitle {
    font-size: 18px;
    font-weight: 700;
    color: #0d0d0d;
    text-align: center; }
  .modal_descr {
    font-size: 14px;
    font-weight: 500;
    color: #0d0d0d;
    text-align: center; }
  .modal_mini {
    min-height: 140px; }
  .modal .error {
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid red; }
  .modal label.error {
    border: none; }

.form {
  margin-top: 25px;
  margin-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px; }
  .form button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border: none;
    color: black;
    border-radius: 20px;
    background-color: burlywood;
    -webkit-transition: 1s all ease-out;
    transition: 1s all ease-out; }
    .form button:hover {
      -webkit-transition: 0.9s all;
      transition: 0.9s all;
      -webkit-box-shadow: 3px 3px 20px burlywood;
              box-shadow: 3px 3px 20px burlywood;
      background-color: burlywood;
      color: black; }
  .form input {
    height: 50px;
    background-color: rgba(222, 184, 135, 0.2);
    border-radius: 5px;
    margin-bottom: 15px;
    border: none;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 300;
    color: #4b4b4b; }
    .form input:nth-child(3) {
      margin-bottom: 20px; }

#consultation, #thanks {
  display: none; }

.cosmetology {
  background-color: rgba(222, 184, 135, 0.7);
  min-height: 1150px; }

.cosmetology_title {
  text-align: center;
  color: black;
  font-size: 30px;
  padding-top: 150px;
  font-weight: 500; }
.cosmetology_descr {
  text-align: center;
  color: black;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 400; }

.elos_title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px; }
.elos_descr {
  margin-right: 110px; }
.elos_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  width: 600px;
  margin-top: 50px;
  text-transform: uppercase;
  background-color: burlywood;
  padding: 30px;
  border-radius: 20px; }
.elos_price {
  text-transform: none; }
.elos_money {
  border: solid;
  border-width: 2px;
  border-color: black;
  padding: 10px 10px 10px 10px;
  margin-right: 30px;
  -webkit-transition: 1s all;
  transition: 1s all;
  cursor: pointer; }
  .elos_money:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: 1s all;
    transition: 1s all; }
  .elos_money:last-child {
    margin-right: 0px; }
.elos_line {
  border: solid;
  border-color: black;
  height: 100px;
  margin-right: 25px;
  border-width: 3px;
  border-left: none; }
.elos_pic {
  width: 450px;
  margin-top: 30px; }
.elos_main_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .elos_main_wrapper_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 40px; }
  .elos_main_wrapper_3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .elos_main_wrapper_4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

.nails_cosm {
  margin-top: 50px;
  background-color: burlywood;
  padding: 20px 10px 20px 10px;
  border-radius: 20px;
  width: 520px;
  height: auto;
  display: block;
  margin: 50px auto 0px auto; }

.cosm_text2 {
  text-align: center;
  text-transform: uppercase; }
.cosm_price {
  text-align: center;
  margin-top: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border: solid;
  border-color: black;
  width: 30%;
  border-width: 2px;
  height: 70px;
  padding: 20px 0px 0px 0px;
  -webkit-transition: 1s all ease-out;
  transition: 1s all ease-out;
  cursor: pointer; }
  .cosm_price:hover {
    -webkit-transform: scale(1.17);
            transform: scale(1.17);
    -webkit-transition: 1s all;
    transition: 1s all; }

.cut {
  background-color: rgba(222, 184, 135, 0.7);
  padding: 10px 0px 70px 0px; }
  .cut_pic {
    width: 450px;
    margin-top: 40px; }
  .cut_title {
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: 500; }
  .cut_line {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    border: solid;
    border-height: 1px;
    border-bottom: none;
    width: 90%; }

.smas_title {
  text-align: center;
  color: black;
  font-size: 25px;
  font-weight: 500;
  margin-top: 50px; }
.smas_line {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  border: solid;
  border-height: 1px;
  border-bottom: none;
  width: 70%; }

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .policy a {
    color: black;
    -webkit-transition: 1s all;
    transition: 1s all; }
  .policy label {
    margin-left: 20px;
    margin-right: -10px; }

button.back {
  width: 250px;
  height: 50px;
  border-radius: 20px;
  background-color: burlywood;
  border: solid;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border-color: rgba(222, 184, 135, 0.7);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  -webkit-transition: 1s all ease-out;
  transition: 1s all ease-out;
  text-decoration: none;
  cursor: pointer; }
  button.back:hover {
    -webkit-box-shadow: 3px 3px 20px burlywood;
            box-shadow: 3px 3px 20px burlywood;
    -webkit-transition: 1s all;
    transition: 1s all;
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }

footer {
  background-color: white;
  min-height: 100px;
  padding: 20px 100px 30px 100px; }

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
.footer_name {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 5px 10px 5px;
  color: black;
  -webkit-transition: 1s all ease-out;
  transition: 1s all ease-out;
  font-family: "Dancing Script", cursive; }
  .footer_name:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 1s all;
    transition: 1s all;
    color: black;
    text-decoration: none;
    text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5); }
.footer_item {
  margin-top: 20px;
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out; }
  .footer_item:hover {
    text-decoration: none;
    color: black;
    -webkit-transform: scale(1.19);
            transform: scale(1.19);
    -webkit-transition: 1s all;
    transition: 1s all;
    text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3); }
.footer img.footer_logo {
  width: 200px;
  margin-right: -180px; }

.nails {
  padding: 150px 0px 50px 0px;
  min-height: 900px;
  background-color: rgba(222, 184, 135, 0.7); }
  .nails_title {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 600; }
  .nails_person {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500; }
  .nails_wrapper {
    margin-top: 50px; }
  .nails_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 50px; }
    .nails_block:nth-child(1) {
      margin-top: 0px; }
  .nails_descr {
    margin-top: 50px;
    background-color: burlywood;
    padding: 20px 10px 20px 10px;
    border-radius: 20px;
    width: 520px;
    height: auto; }
  .nails_pic {
    width: 450px;
    margin-top: 30px; }
  .nails_text {
    text-align: center;
    font-size: 18px;
    font-weight: 500; }
  .nails_price {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border: solid;
    border-color: black;
    width: 30%;
    border-width: 2px;
    height: 70px;
    padding: 20px 0px 0px 0px;
    -webkit-transition: 1s all ease-out;
    transition: 1s all ease-out;
    cursor: pointer; }
    .nails_price:hover {
      -webkit-transform: scale(1.17);
              transform: scale(1.17);
      -webkit-transition: 1s all;
      transition: 1s all; }

.nails_wrapper_hair {
  margin-top: 20px; }
.nails_block_hair {
  margin-top: 10px; }

.hair_title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-top: 50px; }
.hair_price {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border: solid;
  border-color: black;
  width: 35%;
  border-width: 2px;
  height: 70px;
  padding: 20px 0px 0px 0px;
  -webkit-transition: 1s all ease-out;
  transition: 1s all ease-out;
  cursor: pointer; }
  .hair_price:hover {
    -webkit-transform: scale(1.17);
            transform: scale(1.17);
    -webkit-transition: 1s all;
    transition: 1s all; }
.hair_pic {
  margin-left: 150px; }
  .hair_pic img {
    margin-top: 40px; }
    .hair_pic img:nth-last-child(2) {
      margin-top: 30px; }

.pilling {
  background-color: rgba(222, 184, 135, 0.7);
  padding: 170px 0px 60px 0px; }
  .pilling_title {
    text-align: center;
    font-size: 35px;
    font-weight: 500; }

.study {
  background-color: rgba(222, 184, 135, 0.7);
  padding: 50px 0px 60px 0px; }
  .study_title {
    text-align: center;
    font-size: 35px;
    font-weight: 600; }
  .study_descr {
    text-align: center;
    margin-top: 20px;
    font-size: 20px; }
  .study_wrapper {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 18px; }
  .study_text {
    padding: 0px 100px 0px 100px; }
  .study_pic {
    width: 400px;
    height: auto; }
  .study_btn {
    width: 250px;
    height: 50px;
    border-radius: 20px;
    background-color: burlywood;
    border: solid;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    border-color: rgba(222, 184, 135, 0.7);
    font-weight: 600;
    font-size: 17px;
    -webkit-transition: 1s all ease-out;
    transition: 1s all ease-out;
    padding-top: 10px;
    cursor: pointer; }
    .study_btn:hover {
      -webkit-box-shadow: 3px 3px 20px burlywood;
              box-shadow: 3px 3px 20px burlywood;
      -webkit-transition: 1s all;
      transition: 1s all;
      -webkit-transform: scale(1.15);
              transform: scale(1.15); }
  .study_name {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px; }
  .study_line {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    border: solid;
    border-height: 1px;
    border-bottom: none;
    width: 80%; }
  .study_programs {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px; }
  .study_program {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .study_permanent {
    border: solid;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    background-color: burlywood;
    text-align: center;
    width: 500px;
    cursor: pointer;
    -webkit-transition: 1s all ease-out;
    transition: 1s all ease-out; }
    .study_permanent:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: 1s all;
      transition: 1s all; }
  .study_makeup {
    border: none;
    font-size: 23px;
    font-weight: 600; }
  .study_make {
    border: none;
    font-size: 18px;
    margin-top: 10px; }
  .study_grow {
    text-align: center;
    border: solid;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    background-color: burlywood;
    text-align: center;
    width: 500px;
    cursor: pointer;
    -webkit-transition: 1s all ease-out;
    transition: 1s all ease-out; }
    .study_grow:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: 1s all;
      transition: 1s all; }
  .study_paint {
    border: none;
    font-size: 23px;
    font-weight: 600; }
  .study_pain {
    margin-top: 10px;
    border: none;
    font-size: 18px; }
  .study_more {
    margin-top: 40px;
    text-align: center; }
  .study_after {
    margin-top: 40px;
    text-align: center; }

.more_title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px; }
.more_descr {
  font-size: 18px; }

.after_title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px; }
.after_descr {
  font-size: 18px; }

.about {
  padding: 50px 0px 50px 0px; }
  .about_title {
    text-align: center;
    font-size: 30px;
    font-weight: 600; }
  .about_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px; }
  .about_text {
    margin-right: 60px;
    text-align: center;
    margin-left: -40px; }
  .about_name {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px; }
  .about_descr {
    font-size: 18px; }
  .about_pic img {
    width: 400px; }

.contact {
  background-color: rgba(222, 184, 135, 0.7);
  padding: 40px 0px 60px 0px; }
  .contact_title {
    text-align: center;
    font-size: 30px;
    font-weight: 600; }
  .contact_wrapper {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .contact_links {
    border: solid;
    border-radius: 100%;
    border-color: black;
    width: 55px;
    cursor: pointer;
    border-width: 2px;
    -webkit-transition: 1s all ease-out;
    transition: 1s all ease-out; }
    .contact_links:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: 1s all;
      transition: 1s all;
      background-color: burlywood;
      -webkit-box-shadow: 3px 3px 20px burlywood;
              box-shadow: 3px 3px 20px burlywood; }
    .contact_links img {
      margin: 10px 10px 10px 10px;
      width: 30px; }
  .contact_in {
    margin-top: 5px; }

a.contact_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  -webkit-transition: 1s all ease-out;
  transition: 1s all ease-out;
  text-decoration: none; }

@media (max-width: 1025px) {
  img.logo_pic {
    width: 80px;
    margin-right: 20px; }

  .links_name {
    font-size: 18px;
    margin-right: 0px; }

  nav {
    margin-left: -10px; }

  a.links_item {
    font-size: 16px; }

  .dropbtn {
    font-size: 17px; }

  .links_a {
    display: none; }

  .dropdown-content.dropdown-content_active {
    left: 405px; }

  .main_descr {
    font-size: 25px; }

  .study_permanent {
    width: 450px; }

  .study_grow {
    width: 450px; }

  .about_text {
    margin-left: 0px; }
  .about_name {
    font-size: 25px; }
  .about_descr {
    font-size: 16px; }

  .contact_wrapper {
    padding: 0px 80px 0px 80px; }

  .footer_inside {
    display: none; }
  .footer img.footer_logo {
    margin-right: 0px;
    width: 150px; }

  .nails_descr {
    width: 420px; }
  .nails_price {
    width: 40%; }

  .elos_text {
    width: 420px; }
  .elos_descr {
    margin-right: 30px; }

  .hair_price {
    margin-top: 13px;
    width: 45%; } }
@media (max-width: 991px) {
  .container {
    max-width: 900px; }

  .dropdown-content.dropdown-content_active {
    left: 390px; }

  .study_title {
    font-size: 25px; }
  .study_descr {
    font-size: 18px; }
  .study_name {
    font-size: 25px; }
  .study_main {
    font-size: 18px;
    text-align: center; }

  .study_permanent {
    width: 400px; }

  .study_grow {
    width: 400px; }

  .nails_descr {
    width: 350px; }
  .nails_price {
    width: 50%; }

  .elos_text {
    width: 350px;
    text-transform: none; }
  .elos_descr {
    margin-right: 30px; }

  .cosm_text2 {
    text-transform: none; }

  .hair_price {
    width: 50%; } }

/*# sourceMappingURL=style.css.map */